.footer {
    background-color: rgb(43, 43, 43);
    color: white;
    width: auto;
    height: auto;
    text-align: center;
    margin: auto;
    border-radius: 20px;
}

.social {
    margin: 10px;
}

.footerLogoDiv {
    
    width: 200px;
    height: 30px;
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socialContainer {

    background: linear-gradient(to right, rgb(138, 43, 226), rgb(0, 153, 255));
    border-radius: 10px;
    width: 300px;
    margin: auto;
}